body
{
margin: 0;
padding: 0;
}
.sign-up-form
{
    width: 300px;
    background: #fff;
    padding: 20px;
    margin: 10% auto ;
    text-align: center;
}
.sign-up-form h1
{
    display: block;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 95%;
    border: 2px solid black;
    outline: none;
    font-size: 15px;
    display: inline-flex;
    margin-bottom: 15px;
    
}
button 
{
    border-radius: 20px;
    color: #fff;
    width: 95%;
    padding: 10px;
    font-size: 15px;
    margin: 15px 15px;
    outline: none;
    cursor: pointer;
    border: 1px solid black ;
    text-align: center;
    
}
.login-btn
{
    background-color: black;
    display: block;
    margin-bottom: 20px;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;

}
.OR
{
    background-color: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
.google-button {
      padding: 10px ;
      background-color: white;
      color: black;
      border: 2px solid black;
      border-radius: 20px;
      cursor: pointer;
      margin: 10px 0;
      width: 100%;
      text-align: center;
      font-size: 20px;
 }

.google-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      align-items: center;
      
}
.my-link 
{
      display: inline-block;
      margin-bottom: 20px;
}
    
